.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
ml_cleaner.conf

# Data
pg_data/data

# PYTHON
__pycache__

# VENV
.venv
venv

# OTHER
*.pem
.influxdb
target-analyzer