:root{
    --red:red;
    --info-blue: rgb(34, 69, 245);
    --success-green:#06dd06;
    --option-orange:rgb(244, 156, 22);
}

.noLink{
    color:black;
    text-decoration: none;
}

.button{
    border: none;
    border-radius:5px ;
    padding: 5px 10px;
    font-weight: 700;

    &:hover{
        cursor: pointer;
        box-shadow: 1px 2px 4px lightgrey;
    }
}
.button-disabled{
    opacity: .2;
    &:hover{
        cursor:auto;
    }
}

.button-info{
    background-color: var(--info-blue);
    color:white;

    &:hover{
        background-color: white;
        color:var(--info-blue)
    }
}
.button-danger{
    background-color: var(--red);
    color:white;
    &:hover{
        background-color: white;
        color:var(--red);
    }
}
.button-success{
    background-color: var(--success-green);
    color:white;

    &:hover{
        background-color:white;
        color:var(--success-green);
    }
}
.button-option{
    background-color: var(--option-orange);
    color:white;

    &:hover{
        background-color:white;
        color:var(--option-orange);
    }
}

.f-5{
    font-size:.6em;
}
.display-flex{
    display: flex;
}
.display-i-flex{
    display: inline-flex;
}
.display-block{
    display: block;
}
.gap-5{
    gap:5px;
}
.gap-10{
    gap: 10px;
}
.mt-10{
    margin-top: 10px;
}
.mt-5{
    margin-top:5px;
}
.mb-5{
    margin-bottom: 5px;
}
.mb-10{
    margin-bottom: 10px;
}
.text-center{
    text-align: center;
}
.align-center{
    align-items: center;
}
.align-self-center{
    align-self: center;
}
.align-self-end{
    align-self: flex-end;
}
.fit-content{
    width:fit-content;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-self-center{
    justify-self: center;
}
.justify-content-center{
    justify-content: center;
}
.cursor{
    &:hover{
        cursor: pointer;
    }
}
.fake-link{
    color: #15ce;
    text-decoration: underline;
}
.button-less{
    border: none;
    background-color: transparent;
}
.button-link {
    padding: 4px 8px;
    border-radius: 10px;
    background-color: lightgrey;
    border: 1px solid grey
}

.button-link-disabled {
    padding: 4px 8px;
    border-radius: 10px;
    background-color: lightgrey;    
    opacity: .2;
    border: 1px solid grey
}
.w-10{
    width:10%;
}